*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url('../assets/blue-sky.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wraper
{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer
{
    background-color: rgba(156, 90, 147, 0.295);
    width: 130px;
    height: 130px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.timer p{
    font-weight: bold;
}

.progress
{
    background-color: rgba(156, 127, 90, 0.548);
    margin: 20px;
    width: 190px;
    height: 10px;
    /* border-radius: 50%; */
    /* position: absolute; */
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

/* .progress::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
} */

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 230px;

}

.start-break{
    display: flex;
}

.reset,
 .start,
  .break{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgba(156, 127, 90, 0.548);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#start{
    /* display: none; */
    z-index: 1;
    position: relative;
}

#start {
    width: 60px;
    height: 60px;
    background: url('https://api.iconify.design/material-symbols/play-arrow.svg') no-repeat center center / contain;
    border: none;
    cursor: pointer;
}

.reset{
    z-index: 1;
}
#reset{
    width: 60px;
    height: 60px;
    border: none;
    background: url('https://api.iconify.design/ic/sharp-stop.svg') no-repeat center center / contain;
    cursor: pointer;
}

.break{
    display: none;
    z-index: -1;
    position: absolute;
}

#break{
    width: 60px;
    height: 60px;
    background: url('https://api.iconify.design/ic/sharp-stop.svg') no-repeat center center / contain;
}
